<!DOCTYPE html>
<html 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
    <head>
        <title>All Restaurants</title>
    </head>
    <body>
        <section layout:fragment="myContent">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Website</th>
                    <th>Action</th>
                </tr>
                <tr th:each="rObj : ${allRest}">
                    <td>
                        <a th:text="${rObj.rId}" th:href="@{/detail/{myId}(myId = ${rObj.rId})}" />
                    </td>
                    <td th:text="${rObj.rName}" />
                    <td th:text="${rObj.rAddr}" />
                    <td th:text="${rObj.rPhone}" />
                    <td th:text="${rObj.rWeb}" />
                    <td>
                        <a th:href="@{/update/{myId}(myId = ${rObj.rId})}" class="btn btn-warning">Update</a> &nbsp; | &nbsp;  
                        <a th:href="@{/delete/{myId}(myId = ${rObj.rId})}" class="btn btn-danger">Delete</a> 
                    </td>
                </tr>                                                
            </table>
        </section>     
    </body>
</html>